<link rel="stylesheet" type="text/css" href="css/pic360.css" />
<!-- <link rel="stylesheet" type="text/css" href="css/boostrap.css"/> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<html>

<head>
    <title> 360 Degree Product Viewer</title>
</head>
<script src="js/jquery-3.2.1.js"></script>
<script src="js/jquery.threesixty.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script type="text/javascript">
$(function() {
    // 產生圖片
    var arr = [];
    for (var x = 1; x <= 24; x++) {
        arr.push(x + '.png');
    }

    // 讓 #example1 轉換成 threesixty 效果
    // 圖片來源為 arr 陣列
    // 使用滑鼠移動來控制轉動
    $('#example1').threesixty({
        images: arr,
        method: 'mousemove',
        cycle: 1,
        sensibility: 0.85,
        direction: 'forward'
    });

});
</script>

<style type="text/css">

	img{
		text-align : center;
		/*height: auto;
		max-width: 100%;*/
	}

.modal-dialog{
		height: auto;
		max-width: 100%;
}

/*img{max-width:750px;_width:expression(this.width > 750 ? "750px" : this.width);} */

</style>


<body style="background-image:url(http://www.pinnacledatasolutions.com/wp-content/uploads/2015/04/main-background1.jpg); background-position: center; background-size: cover;">

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="opacity: 0.9 width:100vw height:100vh; ">
        
        <div class="modal-dialog" style="; vertical-align: middle; ">
            
            <div class="modal-content">
                
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="margin:0px auto; text-align: center;">360 View</h4> </div>

                <!-- <div class="modal-body" style="width:40vw; height:80vh; margin:0px padding:0px border:0px;"> -->

                <div class="modal-body" style="height: 70%; width: 568px;">
                
                
                <!-- <img src="img/23.png" id="example1" width="568" height="379" style="text-align : center;" align="center" valign="center"> -->

                <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <table width=100% height=400>
                                <tr>
                                    <!-- <td align="center" valign="center" style="position: absolute; margin: auto;">
 -->                                <td align="center" valign="center" style="display:block; margin:auto; height: auto; max-width: 100%;">


                                        <img src="img/23.png" id="example1" width="538" height="359">
                                    </td>
                                </tr>
                            </table>
                        </div>
                </div>
 

                </div>


                <div class="modal-footer" style="margin:0px padding:0px">
                
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
             <img src="img/22.png" style="display:block; margin:auto; height: auto; max-width: 100%;">
        </div>

        <!-- <div class="col-xs-12 col-sm-6 col-md-6" style="position: absolute; top: 25%; left: 75%;  margin: -25px 0 0 -100px;"> -->
        <div class="col-xs-12 col-sm-6 col-md-6">

        <!-- <td align="center" valign="center"> -->
           <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" 
            data-target="#myModal" style="height:50px; width:200px; font-size: 20px; 
            position:absolute; top: 50%; left: 50%; margin: 200px 0 0 -100px;"> 360 View</button>
         
        
        </div>



<!--         <div class="col-xs-12 col-sm-6 col-md-6">
            <table style="width: 50%; height: 50%">
            <tr>
            <td style="margin: 0 auto">
            
           <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" 
            data-target="#myModal" style="margin: 0 auto"> Launch 360 Degree Viewer </button>
            </td>
            </tr>
            </table>
        </div> -->

</div>

</body>

</html>
<!-- get post put delete

products/index
prodcuts/show

post => products

get index view
get new view products/new
 create 
get show  products/1
get edit products/1/edit
put update products/1 
delele destroy products/1 -->
